[Desktop Entry]
Name=XML Editor
Comment=A simple XML tree editor built with Tkinter
Exec=/home/ehitimum/Documents/xml-editor/src/xml-editor.py
Icon=xml-editor
Terminal=false
Type=Application
Categories=Development;Utility;
StartupNotify=true