name: Build XML Editor

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            script_path: src/xMLTree.py
            built_file: dist/xMLTree

          - os: windows-latest
            script_path: src\\xMLTree.py
            built_file: dist\\xMLTree.exe

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller

      - name: Build executable
        run: pyinstaller --onefile --windowed ${{ matrix.script_path }}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: xMLTree-${{ matrix.os }}
          path: ${{ matrix.built_file }}
